@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Indie+Flower&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

main {
    min-width: 320px;
    max-width: 800px;
}

header {
    
    
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align:center;
    min-width: 320px;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.342);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 80px;
    margin-bottom: 70px;
    margin-right: 80px;
    margin-left: 80px;
   border-radius: 10px;
    
    }


h1 {
    color: mediumblue;
    
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    text-align:center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274)
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-radius: 5px;
    padding: 20px;
       
    }


li {
    display: inline;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
}

ul {
    border-radius: 5px;
}
h2 {
    color:rebeccapurple;
    text-align:center;
    font-weight: bold;
   }

h3 {
    color:rgb(140, 95, 185);
    text-align:center;
    font-weight: bold;
}

form {
    color:rgb(53, 42, 202);
    text-align:center;
}


p {
    text-align:center;
}

body{
    background-color: rgb(171, 217, 245); 
    background-image: url(images/livros-menor-transp.jpg); 
    background-position: center top;
    background-size: auto;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-optical-sizing: auto; 
    font-size: 1em;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-left: 80px;
    margin-top: 80px;
    margin-bottom: 70px;
    margin-right: 80px;
    margin-left: 80px;
   border-radius: 10px;
        
}

a.externo::after {
    content: '\00a0\1F517';
}
image {
 width: 100%;
}

iframe {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

h2 {
    color:rgb(31, 34, 199);
   }

ul {
    text-align:center;
    color: mediumblue;
    background-color: lightskyblue;

}
footer {
    background-color: var(--cor5);
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 0.8em;
    padding: 100px;
}
