@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Indie+Flower&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F4F8; 
    background-image: url(images/livros-menor-transp.jpg); 
    background-position: center top;
    background-size: cover;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto; 
}

header {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
    background-color: #5562714a; 
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    background-color: #e6f1fa00;
    border-radius: 10px;
    margin-bottom: 30px;
}

li {
    margin-bottom: 50px; /* Espaçamento entre os itens */
    padding: 10px;
    background-color: #50B2C0; /* Cor de fundo dos itens */
    border-radius: 5px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #3A8B9C;
}

h2 {
    color: #5C4B8C;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    color: #8C5FA9;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

p, form {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

a.externo::after {
    content: '\00a0\1F517';
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

footer {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 0.9em;
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px;
}

  /* Estilos do carrinho */
  .cart {
    position: relative;
    display: inline-block;
    margin: 20px;
    font-size: 24px; /* Tamanho do ícone */
}

.cart-icon {
    width: 30px;
    height: 30px; /* Tamanho do ícone do carrinho */
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 14px; /* Tamanho da contagem */
}

/* Consultas de mídia para melhor responsividade */
@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 10px;
        margin: 0;
    }

    header {
        font-size: 2em;
        padding: 15px;
    }

    li {
        padding: 8px 12px;
        margin: 5px;
    }

    h1, h2, h3 {
        font-size: 1.2em;
    }

    iframe {
        height: 200px;
    }

    footer {
        padding: 20px;
    }
}

@media (max-width: 400px) {
    header {
        font-size: 1.8em;
        padding: 10px;
    }

    li {
        padding: 6px 10px;
        margin: 5px;
    }

    h1, h2, h3 {
        font-size: 1em;
    }

    footer {
        padding: 15px;
        font-size: 0.8em;
    }
}

.close-button {
    width: 30px;
    height: 30px;
}

.search-bar {
    width: 300px; /* Aumenta a largura da barra de busca */
    height: 40px; /* Aumenta a altura da barra de busca */
    font-size: 16px; /* Aumenta o tamanho do texto dentro da barra */
}

 /* Section (Main Content) Styling */
 section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

    

    
